* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.nav-logo h1 {
  font-size:calc(12px + 1vw);
  font-weight: bold;
  
}
.nav-link{
  color:rgba(0, 0, 0)
}

.nav-link:hover {
  color: darkgreen;
}

h2 {
  font-size:calc(12px + 2vw);
}

.nav-logo h1, h2, h3, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

body {
  font-family: 'Lato';
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  font-size: 1rem;
  padding: .75rem 1rem;
}

img {
 max-width: 50vw;
}

.spacer {
  height: 25vh;
}

/* NAVIGATION BAR STYLING */
.nav-bar img {
  width: 50px;
}

.nav-bar {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav-bar h1 {
  margin: 1rem;
  padding: 0;
}

.bar {
  display: block;
  margin: 5px auto;
  height: 3px;
  width: 25px;
}

.close-one {
  height: 25px;
  width: 3px;
  margin-left: 11px;
  transform: rotate(45deg);
  Z-index: 1;
}

.close-two {
  height: 25px;
  width: 3px;
  transform: rotate(90deg);
  Z-index: 2;
}

.close-menu {
  width: 25px;
  height: 25px;
}

.bar, .close-one, .close-two {
  background-color: black;
  border-radius: 2px;
}

/* necessary for changes for active page on nav bar - i.e. clicked page while appear underlined */
div.home li.home .nav-link, 
div.find-styles li.find-styles .nav-link, 
div.find-brands li.find-brands .nav-link, 
div.checklist li.checklist .nav-link,
div.what-materials li.what-materials .nav-link{
  text-decoration: underline;
  font-size: 1rem;
}

/* necessary to keep page options centered in nav bar */
.nav-link, .impact h3 {
  padding-top: .5rem;
}

.leave-browser, .nav-menu{
  position: fixed;
}

/* eliminating major redundancy in common styling */
.nav-bar, .nav-logo, .beginning-container, .beginning-text, .impact-container, .impact, .reason-container, .reason, .video-container, .search-bar, .find-brands .brands-container, .leave-browser.show-popup, .leave-container, .style-container, .genre-header, .recs-container, .genre-container, .rec, .checklist-start, .genre-container {
  display: flex;
}

.nav-menu, .beginning-text, .impact, .reason-container, .leave-browser.show-popup, .recs-container, .rec {
  flex-direction: column;
}

.nav-menu, .reasons h2, .leave-browser.show-popup p, .text-center-vertical, .nav-bar {
  text-align: center;
}

.text-center-vertical, .nav-bar, .nav-logo, .beginning-text, .reason, .leave-browser.show-popup {
  align-items: center;
}

.nav-menu {
  left: -100%;
  top: 4.3rem;
  width: 100%;
  transition: 0.3s;
  box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
}

/* allows for dropdown menu to open */
.nav-menu.show-menu {
  left: 0;
  background-color: white;
  z-index: 1;
}

.nav-menu.hide-menu {
  left: -100%;
  background-color: none;
}

.nav-item {
  margin: 1rem 0;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
/* END NAVAIGATION BAR STYLING */

/* HOME PAGE STYLING */
.beginning-container {
  margin-bottom: 2rem;
}

.beginning-text {
  justify-content: center;
  padding-left: 2rem;
}

.impacts {
  background-color: #E8FBF3;
  margin-bottom: 3rem;
  padding: 1.5rem;
}

.impact-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.impact {
  padding: 1.5rem;
}

.impact img {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.impact h3 {
  font-size: 1.5rem;
}

.impact h3, .reason h3 {
  font-style: normal;
  font-weight: bold;
}

.reason {
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
}


.reason img, .reason div {
  max-width: 40vw;
}

.video-container {
  justify-content: center;
  padding-bottom: 3rem;
}

.search-bar {
  justify-content: center;
}

/* FIND BRANDS PAGE */
.find-brands h1, .find-brands .brands-container, .checklist h1 {
  margin: 1rem;
}

.find-brands {
  background-color: none;
}

.find-brands.popup-open {
  background-color: (128, 128, 128);
}

.find-brands .brands-container {
  flex-wrap: wrap;
  justify-content: center;
}

.individualBrand {
  margin: 1.5rem 1rem;
  border-radius: 15px;
  border: none;
}

.leave-browser {
  top: -100%;
  width: 50%;
  height: 20%;
  transition: 0.75s;
  margin-left: 25%;
  margin-right: 25%;
}

.leave-browser.show-popup {
  top: 50%;
  background-color: white;
  border-radius: 15px;
  border: 1px solid grey;
  z-index: 0;
  overflow-y: auto;
  justify-content: center;
}

.leave-browser.show-popup p {
  padding: 0 1rem;
}

.leave-button {
  padding: 0 1.5rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.leave-button a {
  color: black;
}

.one {
  margin-right: 2rem;
}

.leave-container {
  justify-content: space-evenly;
}

/* FIND STYLES PAGE STYLING */
.find-styles {
  margin-left: 1rem;
}

.style-button img {
  max-width: 60vw;
}

.style-button {
  border: none;
  border-radius: 12px;
  margin: 1rem;
}


.style-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5rem;
}

/* GENRE PAGE STYLING */
.genre-header {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.genre-header img {
  height: 35px;
  padding-right: 1rem;
  margin-top: .6rem;
}

.indv-genre-info {
  padding-left: 1rem;
}

.genre-img {
  margin-left: 1rem;
}

.style-image img {
  max-width: 80%;
  max-height: auto;
}

.style-image {
  width: 80%;
}

.genre-container {
  flex-direction: row;
  justify-content: center;
}

.suggestion-img {
  padding: .75rem .5rem;
}

.rec {
  margin: 1rem 0;
}

/* CHEKCLIST PAGE */
.checklist-diagram {
  width: 10vh;
}

.checklist-start  {
  flex-wrap: wrap;
}
.checklist-item {
  flex: 50%;
  padding-left: 20px;
  padding-top: 1rem;
  width: 30%;
}
/* FIND STYLES */
.genre-container {
  flex-wrap: wrap;
  padding-left: 7%;
}
.card-title {
  color: white;
  font-weight: bold;
  padding-top: auto;
  filter: brightness(150%)
}

/* MATERIALS PAGE */
.materials-diagram {
  width: 20vh;
}


/* IPAD AND TABLET SYTLE CHANGES */
@media (min-width: 481px) {
  .impact {
    width: 40vw;
  }

  .impact img {
    width: 50px;
  }

  .individualBrand img {
    width: 40vw;
  }

  .search-bar {
    padding-right: 3rem;
    justify-content: right;
  }

  .style-image {
    width: 40vw;
  }

  .style-button img {
    max-width: 40vw;
  }
 
}

/* SMALL SCREEN - I.E. LAPTOP - STYLE CHANGES */
@media (min-width: 769px) {
  .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: unset;
      left: auto;
      top: 0;
      flex-direction: row;
      background-color: none;
      width: auto;
      text-align: unset;
      transition: 0;
      box-shadow: none;
  }

  .nav-menu.show-menu {
    left: -100;
    background-color: transparent;
  }
  
  .nav-item {
      margin-left: 5rem;
      padding-top: .25rem;
  }
  
  .nav-link {
      font-size: .75rem;
  }
  
  /*  change background color of button to match color of website background */
  .hamburger-menu {
      display: none;
      border: none;
      background-color: white;
  }

  .impact {
    width: 20vw;
  }

  .impact img {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .individiaulBrand img {
    width: 25vw;
  }

  .search-bar {
    padding-right: 5rem;
  }

  .genre-container {
    flex-direction: row;
    justify-content: left;
  }

  .style-image {
    width: 30vw;
  }

  .recs-container {
    width: 55vw
  }

  .suggestion-img {
    width: 18.3vw;
  }

  .style-button img {
    max-width: 20vw;
  }
}

@media (min-width: 1025px) {
  .individualBrand img {
      width: 20vw;
  }

  .search-bar {
    padding-right: 6rem;
  }
}